.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination a {
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  li{
      list-style: none;
  }
  
  /* .pagination a.active {
    background-color: rgb(45, 106, 131);
    color: white;
  } */
  
  .pagination a:hover:not(.active) {background-color: rgb(133, 133, 133);}